/* ********** Global CSS ********** */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Work Sans", sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1199px;
    margin: 0 auto;
}

.primary-btn {
    background: #FF900E;
    padding: 15px 25px;
    border: 0px;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    margin-bottom: 50px;
}


/* Header Section */


header {
    background-color: #FFF4E7;
    padding: 60px 0px;
}

/* Nav Section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    font-size: 28px;
    font-weight: 700;
    color: #131313;
}

.nav-items {
    display: flex;
    list-style: none;
}

.nav-items li {
    margin-left: 60px;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}


/* Banner section  */

.banner {
    padding: 80px 0px 20px 0px;
    text-align: center;
}

.banner h1 {
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}

.banner p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    padding: 25px 0px;
    line-height: 25px;
}

.banner-img img {
    width: 100%;
}


/* features section */

.features {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 70px 0px;
}

.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.features-content h3 {
    font-size: 45px;
    font-weight: 700;
}

.features-content p {
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0px;
}