/* ********** Global CSS ********** */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Work Sans", sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1199px;
    margin: 0 auto;
}

.heading-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.description {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

.primary-btn {
    background: #FF900E;
    padding: 15px 25px;
    border: 0px;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    margin-bottom: 50px;
}


/* Header Section */


header {
    background-color: #FFF4E7;
    padding: 60px 0px;
}

/* Nav Section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    font-size: 28px;
    font-weight: 700;
    color: #131313;
}

.nav-items {
    display: flex;
    list-style: none;
}

.nav-items li {
    margin-left: 60px;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}


/* Banner section  */

.banner {
    padding: 80px 0px 20px 0px;
    text-align: center;
}

.banner h1 {
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}

.banner p {
    padding: 25px 0px;
    line-height: 25px;
}

.banner-img img {
    width: 100%;
}


/* features section */

.features {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 70px 0px;
}

.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}



.features-content p {
    padding: 20px 0px;
}


/* Some Fact Section */

.someFact {
    padding: 50px 0px;
}

.some-content {
    padding-bottom: 80px;
}

.some-content h3 {
    padding-bottom: 15px;
}


.some-img {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.some-img h2 {
    padding: 10px 0px;
}

.some-img-content {
    border: 1px solid #FF900E;
    width: 150px;
    padding: 25px;
}


/* sponspors section */

.sponspors {
    padding: 70px 0px;
}

.sponspors-content {
    text-align: center;
}

.sponspors-content p {
    padding: 20px 0px;
}

.sponspors-logo {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;
    background-color: #FFF4E7;
    padding: 30px 0px;
}




.features-enjoy {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 120px;
}

.features-enjoy-img img {
    width: 100%;
}

.features-enjoy-heading {
    padding-bottom: 30px;
}

.features-enjoy-heading h2 {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-enjoy-heading p {
    padding: 15px 0px;
}

.features-enjoy-card-content {
    padding: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 20px 0px;
}

.features-enjoy-card-content h5 {
    font-size: 20px;
}

.features-enjoy-card-content p {
    padding-top: 15px;
}


.features-enjoy-img-content {
    background: orange;
    display: inline-block;
    padding: 30px 50px;
    color: white;
    border-radius: 8px;
    position: relative;
    bottom: 80px;
    right: 80px;
}

.features-enjoy-img-content h3 {
    font-size: 45px;
}

.features-enjoy-img-content p {
    text-align: center;
    font-size: 22px;
}